.root {
    -fx-background-color: #ffffff;
}

.rootPane {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.titleLabel {
    -fx-font-weight: bold;
}

.titleLabelH2 {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
}

.xlszone {
    -fx-border-color: green;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
    -fx-pref-height: 200;
    -fx-pref-width: 400;
}

.xlsSheetList {
    -fx-pref-height: 75;
}

.vault_new_btn {
    -fx-content-display: bottom;
    -fx-base: blue;
    -fx-rotate: -5;
    -fx-scale-x: 0.9;
    -fx-scale-y: 1.1;
}
.vault_load_btn {
    -fx-content-display: bottom;
    -fx-base: green;
    -fx-rotate: 5;
    -fx-scale-x: 0.9;
    -fx-scale-y: 1.1;
}
.vault_save_btn {
    -fx-content-display: top;
    -fx-base: red;
    -fx-rotate: -1;
    -fx-scale-x: 0.9;
    -fx-scale-y: 1.1;
}

.xlsDiffSheetList {
    -fx-pref-height: 200;
}

.utilityDialog {
    -fx-border-insets: 23;
    -fx-border-radius: 6;
}

.calculatedInfoInForm {
    -fx-background-color: aquamarine;
}

.calculatedTodayInfo {
    -fx-background-color: aquamarine;
    -fx-font-weight: bold;
}

.calculatedTodayInfo:even {
    -fx-background-color: aquamarine;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
